.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    > header {
        flex-shrink: 0;
        font-size: 0;
        img {
            width: 100%;
        }
    }

    > main {
        flex-grow: 1;
    }

    > footer {
        flex-shrink: 0;
    }
}